/* orange theme */
/* TODO: amts in red don't show well
/* darkest */
.modal-body
{
    color: #C55D00;
}
.hilite, #app_header, .dark_back
{
    background: #C55D00;
}
/* dark */
.panel_level1
{
    border: 2px solid #F78600;
}
.panel_level2, .budgetItem
{
    background: #F78600;
}
.panel_level2_text, .Resizer.horizontal:before, .Resizer.horizontal:after, .db_state
{
    color: #F78600;
}
/* light */
.main_back
{
    background: #F2A200;
}
input.budget__cell-input
{
    border: 1px solid #F2A20;
}
.Resizer.horizontal, .Resizer.vertical
{
    background: #F2A200;
}
/* lighter */
.prim_btn
{
    background-color: #F7CC00 !important;
    color: white;
}
.loader
{
  border-top: 16px solid #F7CC00;
}
/* lightest */
.lightest, .lightest_list li:hover
{
    background-color: #F7CC17;
}
.hilite_month
{
    background-color: #F7CC17 !important;
}

.panel_level1, .budgetItem:hover
{
    background: #DBDBDB;
    color: #786357;
}
.main_back, .panel_level2
{
    color: white;
}
.lite_back
{
    background: white;
}