/* purple theme */
/* darkest */
.modal-body
{
    color: #604284;
}
.hilite, #app_header, .dark_back
{
    background: #604284;
}
/* dark */
.panel_level1
{
    border: 2px solid #8446A8;
}
.panel_level2, .budgetItem
{
    background: #8446A8;
}
.panel_level2_text, .Resizer.horizontal:before, .Resizer.horizontal:after, .db_state
{
    color: #8446A8;
}
input.budget__cell-input:focus
{
    border: 1px solid #8446A8;
}
/* light */
.main_back
{
    background: #AB7FC3;
}
input.budget__cell-input
{
    border: 1px solid #AB7FC3;
}
.Resizer.horizontal, .Resizer.vertical
{
    background: #AB7FC3;
}
/* lighter */
.prim_btn
{
    background-color: #D8ADF0 !important;
    color: white;
}
.loader
{
  border-top: 16px solid #D8ADF0;
}
/* lightest */
.lightest, .lightest_list li:hover
{
    background-color: #D8ADFF;
}
.hilite_month
{
    background-color: #D8ADFF !important;
}

.panel_level1, .budgetItem:hover
{
    background: #DBDBDB;
    color: #786357;
}
.main_back, .panel_level2
{
    color: white;
}
.lite_back
{
    background: white;
}