/* blue theme */
/* darkest */
.modal-body
{
    color: #0C4168;
}
.hilite, #app_header, .dark_back
{
    background: #0C4168;
}
/* dark */
.panel_level1
{
    border: 2px solid #02719E;
}
.panel_level2, .budgetItem
{
    background: #02719E;
}
.panel_level2_text, .Resizer.horizontal:before, .Resizer.horizontal:after, .db_state
{
    color: #02719E;
}
/* light */
.main_back
{
    background: #2C97C7;
}
.Resizer.horizontal, .Resizer.vertical
{
    background: #2C97C7;
}
/* lighter */
.prim_btn
{
    background-color: #43A2CC !important;
    color: white;
}
.loader
{
  border-top: 16px solid #43A2CC;
}
/* lightest */
.lightest, .lightest_list li:hover
{
    background-color: #E6F5FB;
}
.hilite_month
{
    background-color: #0084CE !important;
}
.panel_level1, .budgetItem:hover
{
    background: #DBDBDB;
    color: #786357;
}
.main_back, .panel_level2
{
    color: white;
}
.lite_back
{
    background: white;
}