#budget > div > div.Pane.vertical.Pane2, #budget > div > div.Pane.vertical.Pane2 table,
#budget > div > div.Pane.vertical.Pane2 select, #budget > div > div.Pane.vertical.Pane2 .btn
{
    margin-right: 5px;
    font-size: .8em;
}
#acc_details_block > div > div.Pane.horizontal.Pane1
{
    max-height: 90%;
}
#acc_details_block > div > div.Pane.horizontal.Pane2
{
    min-height: 42px;
}
#acc_details_cont.panel_level1
{
    margin-top: 5px !important;
}
#sched_block.panel_level1
{
    margin-right: 5px !important;
}
.css-1hwfws3 {
    height: 100%;
}
.panel_level1
{
    margin-bottom: 0px !important;
}
.cleared {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
    margin-top: .25rem;
    text-align: center;
    border-radius: 6px;
    background-color: hsla(0,0%,87%,.7);
    color: #fff;
    cursor: pointer;
    transition: all .15s ease;
}
.has_cleared {
    background-color: #28a745;
}
#acc_summ {
    display: flex;
    font-size: .8em;
    background-color: #3e3e3e;
    border-radius: 3px 0px;
}
#acc_summ .acc_overview,
#sched_list, .txn_sel{
    padding-left: 10px !important;
}
#sched
{
    border-radius: 5px;
}
.ellipsis
{
    overflow: hidden;
    text-overflow: ellipsis;
}
.acc_name {
    white-space: nowrap;
    max-width: 300px;
    vertical-align: top;
    display: inline-block;
    font-size: 1.8em;
    font-weight: 300;
    color: #fff;
    white-space: nowrap;
    line-height: 3rem;
}
.acc_stats {
    display: inline-block;
}
.acc_balance {
    display: inline-block;
    margin: 0 1em;
    line-height: 1;
    text-align: center;
    color: #28a745;
    font-size: 1.3em;
}
.acc_title {
    color: #fff;
    font-size: .8em;
    font-weight: 300;
    margin-bottom: 3px;
    white-space: nowrap;
    padding-top: 10px;
}
.acc_operator {
    display: inline-block;
    color: hsla(0,0%,100%,.3);
    font-size: 1.5em;
}
.sec_btn
{
    margin-right: 30px;
    display: inline;
}
.flag
{
    cursor:pointer;
}
.flagged
{
    background-color: #dc3545;
}
#sched_block, #acc_details_cont,
#acc_details_cont #txns_block, #acc_details_cont #sched_block
{
    width: 100%;
}
#acc_details_cont #txns_block, #acc_details_cont #sched_block{
    overflow: auto;
}
#txns_block
{
    border-radius: 0px 5px;
}
#acc_details_cont
{
    display: flex;
    flex-direction: column;
}
.acc_overview {
    line-height: 3rem;
}
#acc_details_cont
{
    display: flex;
    flex-direction: column;
}
#acc_details_cont .dash_head .burger_menu {
    margin-left: auto;
    width: 3rem;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
}
#budIcon
{
    color: #E0F379;
}
#repIcon
{
    color: #FDCE5C;
}
#accIcon
{
    color: #3ADAFF;
}
#txn_search input, #txn_search select{
    font-size: 0.8em;
}
#txn_search input{
    min-width: 150px;
}
#txn_search{
    padding-right: 5px;
}
.txn_row input, .txn_row select
{
  font-size: 0.8em;
}
.txn_row .react-datepicker__input-cont, .txn_row .form-control
{
    width:auto;
}
#txns, #txns_block div.react-datepicker-wrapper input
{
    font-size: 0.8em;
}
.summ_amt{
    margin-left: auto;
}
.table_ddown
{
    min-width: 100px;
}
#txn_save
{
    position: absolute;
    background: #ffeeba;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}
#txns_block .form-control
{
    font-size: 0.8em;
}
#pagin_controls span
{
    padding-right: 10px;
}
#pagin_controls span:hover
{
    text-decoration: underline;
}