@media screen and (max-width: 650px) {
  #budget .Pane:first-child { display: none; }
  #budget .Pane:last-child { width: 100% !important; }
}
@media screen and (min-width: 651px) {
  #acc_details_cont .dash_head { display: none; }
}