div.Pane.horizontal:not(.Pane1)
{
    margin-bottom: 5px;
}
.Resizer.vertical {
    width: 12px !important;
}
.Resizer.vertical:hover, .Resizer.horizontal:hover {
  border: 0px !important;
}
.Resizer.horizontal {
    height: 12px !important;
}
.Resizer.horizontal, .Resizer.vertical
{
    margin: 0px !important;
}
.panel_level1, .panel_level2
{
    border-radius: 5px;
    margin-bottom: 10px;
}
.neg_no
{
    color: #dc3545;
}
.sec_btn
{
    background:#E5E7E5;
    color:#646767;
}

/*https://stackoverflow.com/questions/47283074/how-to-center-a-div-css-loader*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
  z-index: 100;
}
#restore_bud, #skinLink
{
  cursor: pointer;
  font-size: 0.8em;
  text-decoration: underline;
}
#restore_bud:hover, #skinLink:hover
{
  font-weight: bold;
}
#skinList
{
  font-size: 0.7em;
}
#restore_bud
{
  margin-left: 10px;
}
#bud_list_acts
{
  width: 300px;
}
#bud_list_acts_links
{
  display: flex;
}
#acc_details_block, #add_acc_block, #budget_block, #bud_block, #report_block, #rep_block
{
  width: 100%;
}
.budgetItem
{
  padding: 50px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.last_open, .last_open_time
{
  font-size: 0.8em;
}
.last_open
{
  font-style: italic;
}
.budgetItemOpen
{
  margin-top: 10px;
}
.budgetItem, .budEdit
{
  cursor: pointer;
}
#app_header
{
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}
.acc_dash_small
{
  display: flex;
  padding: 10px !important;
}
.burger_menu
{
  margin-left: auto;
  cursor: pointer;
  font-size: 1.4em;
}
.db_state
{
  font-size: 0.8em;
  font-style: italic;
  margin-top: 30px;
}
#dash_state
{
  clear:both;
  display: flex;
}
.horiz_arr
{
  margin-left: auto !important;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media screen and (max-width: 650px) {
  #budget .Pane:first-child { display: none; }
  #budget .Pane:last-child { width: 100% !important; }
  .mobileDisabled
  {
    pointer-events: none;
    opacity: 0.5;
    background: #CCC;
  }
}
@media screen and (min-width: 651px) {
  .burger.dash_head { display: none; }
  #budget > div.SplitPane.vertical > div.Pane.vertical.Pane1 { display: block !important; }
}