.tracker_row
{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-size: 0.8em;
}
.tracker_row .total_coins, .tracker_head
{
    color: gray;
}
.tracker_row .total_coins, .total
{
    font-size:0.8em;
}
.tracker_row .total_coins
{
    text-align: right;
}
.tracker_td
{
    width: 0;
    display: block;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}
.refresh
{
    cursor: pointer;
    color: white;
}
.pos
{
    color: #28a745;
}
.neg
{
    color: #dc3545;
}
.total
{
    color:white !important;
}