.tracker_row
{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-size: 0.8em;
}
.tracker_row .total, .tracker_head
{
    color: gray;
}
.tracker_row .total
{
    font-size:0.8em;
    text-align: right;
}
.tracker_td
{
    width: 0;
    display: block;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
}