.ddown select,
.dd_will_create
{
    position: absolute;
}
.dd_will_create
{
    background: white;
    border: 1px solid black;
    padding: 20px
}
.ddown select
{
    min-height: 120px;
    box-shadow: 0 0 38px rgba(0,0,0,.2);
    border: 12px solid transparent;
    border-radius: 5px;
}