.Resizer {
  background: #000;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.Resizer.horizontal {
  height: 12px;
  cursor: row-resize;
  width: 100%;
  min-height: 12px;
}
.Resizer.vertical {
  width: 11px;
  cursor: col-resize;
  min-height: 11px
}
.Resizer.horizontal:before, .Resizer.horizontal:after {
  color: #196E9B;
}
.Resizer.horizontal:before {
  position: absolute;
  left:49%;
  content:"↓";
}
.Resizer.horizontal:after {
  position: absolute;
  left:51%;
  content:"↑";
}
.Resizer.disabled {
  cursor: not-allowed;
}