.action:hover{
    color: #cccccc;
    cursor: pointer;
}
.actions
{
    line-height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}
.actions .btn
{
    margin: 5px;
}
.react-datepicker-popper {
    z-index: 2;
}