.theme_level_1
{
    background: #2C97C7;
}
.theme_level_2
{
    background: #196E9B;
}
.theme_level_3
{
    background: #DBDBDB;
}
.theme_level_1, .theme_level_2
{
    color: white;
}
.hilite
{
    background: #0C4168;
}
.prim_btn
{
    background-color: #43A2CC;
    color: white;
}