.main_back
{
    background: #2C97C7;
}
.panel_level1, .panel_level2, .panel_level3
{
    border-radius: 5px;
    margin-bottom: 10px;
}
.neg_no
{
    color: #dc3545;
}
.panel_level1
{
    background: #DBDBDB;
    border: 2px solid #02719E;
    color: #786357;
}
.panel_level2
{
    background: #196E9B;
}
.panel_level2_text, .Resizer.horizontal:before
{
    color: #196E9B;
}
.modal-body
{
    color: #3e3e3e;
}
.main_back, .panel_level2
{
    color: white;
}
.panel_level3
{
    background: #3C454D;
    color: #4D5B6E;
}
.lite_back
{
    background: white;
}
.Resizer.horizontal, .Resizer.vertical
{
    background: #2C97C7;
    margin: 0px !important;
}
.Resizer.vertical {
    width: 12px !important;
}
.Resizer.vertical:hover, .Resizer.horizontal:hover {
  border: 0px !important;
}
.Resizer.horizontal {
    height: 12px !important;
}
.hilite
{
    background: #0C4168;
}
.prim_btn
{
    background-color: #43A2CC;
    color: white;
}
.sec_btn
{
    background:#E5E7E5;
    color:#646767;
}