.main_back
{
    background: #2C97C7;
}
.panel_level1, .panel_level2, .panel_level3
{
    border-radius: 5px;
    margin-bottom: 10px;
}
.panel_level1
{
    background: #DBDBDB;
}
.panel_level2
{
    background: #196E9B;
}
.panel_level3
{
    background: #3C454D;
    color: #4D5B6E;
}
.Resizer.horizontal, .Resizer.vertical
{
    background: #2C97C7;
    margin: 0px !important;
}
.Resizer.vertical {
    width: 12px !important;
}
.Resizer.vertical:hover, .Resizer.horizontal:hover {
  border: 0px !important;
}
.Resizer.horizontal {
    height: 12px !important;
}
.main_back, .panel_level2
{
    color: white;
}
.hilite
{
    background: #0C4168;
}
.prim_btn
{
    background-color: #43A2CC;
    color: white;
}