/* green theme */
/* darkest */
.modal-body
{
    color: #ff0000;
}
.hilite, #app_header, .dark_back
{
    background: #ff0000;
}
/* dark */
.panel_level1
{
    border: 2px solid rgba(255, 0, 0, 0.57);
}
.panel_level2, .budgetItem
{
    background: rgba(255, 0, 0, 0.57);
}
.panel_level2_text, .Resizer.horizontal:before, .Resizer.horizontal:after, .db_state
{
    color: rgba(255, 0, 0, 0.57);
}
/* light */
.main_back
{
    background: rgba(255, 0, 0, 0.37);
}
.Resizer.horizontal, .Resizer.vertical
{
    background: rgba(255, 0, 0, 0.37);
}
/* lightest */
.prim_btn
{
    background-color: rgba(255, 0, 0, 0.18);
    color: white;
}

.panel_level1, .budgetItem:hover
{
    background: #DBDBDB;
    color: #786357;
}
.main_back, .panel_level2
{
    color: white;
}
.lite_back
{
    background: white;
}